* {
  outline: initial;
}

:target {
  scroll-margin-top: $navigation-height;
}

h1,
h2,
h3 {
  font-family: $fonts-zen, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 300;

  @media screen and ($sp-query) {
    font-size: 3.2em;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

p {
  line-height: 1.8;
}

a {
  color: $dark-gray;
  text-decoration: underline;
}

small {
  font-size: 0.9rem;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
  background-color: $background;
}

main section {
  margin: 1.5rem 0;
}

main h2 {
  font-family: $fonts-ryo, sans-serif;
  font-weight: 600;
  margin: 0.25em 0;
  line-height: 1.5;

  /* 左側のオレンジ線 */
  border-inline-start: 0.25em solid $orange;
  padding-inline-start: 1ch;
}

/* 秘伝のタレ */
.aria {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}

span[aria-hidden="true"] {
  display: none;
}
