:target {
  scroll-margin-top: $navigation-height;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  font-family: $fonts-mulish, $fonts-latin, $fonts-japanese, sans-serif;
}

p {
  line-height: 1.8;
}

a {
  color: $dark-gray;
  text-decoration: underline;
}

address {
  font-style: normal;
}

hr {
  border: none;
}

small {
  font-size: 0.9rem;
}

dt {
  font-weight: inherit;
}

main {
  flex-grow: 1;
  background-color: $background;
}

main section {
  margin: 1.5rem 0;
}

/* 秘伝のタレ */
.aria {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}

span[aria-hidden="true"] {
  display: none;
}
