h1,
h2,
h3 {
  font-family: $fonts-zen, sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 300;

  @media screen and ($sp-query) {
    font-size: 3.2em;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

small {
  font-size: 0.9rem;
}
