$fonts-zen: "Zen Maru Gothic";
$fonts-mulish: "Mulish";
$fonts-latin: "Arial";
$fonts-japanese: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴシック", "Hiragino Sans",
  "Noto Sans Japanese", "Noto Sans JP", "Noto Sans CJK JP", "YuGothic", "Yu Gothic";

$sp-query: "max-width: 899px";
$pc-query: "min-width: 900px";

$content-width: 1120px;
$side-padding: min(1.25rem, 4.75vw);
$side-margin: max(0px, calc((100vw - $content-width) / 2));

$navigation-height: 4rem;

$background: rgb(255, 255, 255);
$background-translucent: rgba(255, 255, 255, 0.9);
$background-gray: rgb(241, 241, 241);

$light-gray: rgb(204, 204, 204);
$dark-gray: rgb(102, 102, 102);

$font-white: #fff;
$font-black: rgb(35, 24, 21);

$orange: rgba(237, 109, 31);
$blue: rgba(30, 184, 203);

$blue-translucent: rgba(30, 184, 203, 0.3);
