$fonts-zen: "Zen Maru Gothic";
$fonts-ryo: "ryo-gothic-plusn";
$fonts-museoSans: "museo-sans";

$sp-query: "max-width: 899px";
$pc-query: "min-width: 900px";

$content-width: 1120px;
$side-padding: min(1.25rem, 4.75vw);
$side-margin: max(0px, calc((100vw - $content-width) / 2));

$navigation-height: 4rem;

$background: rgb(241, 241, 241);
$background-translucent: rgb(241, 241, 241, 0.9);
$background-gray: rgb(224, 224, 224);

$light-gray: rgb(204, 204, 204);
$dark-gray: rgb(102, 102, 102);

$font-white: #fff;
$font-black: #000;

$orange: rgba(237, 109, 31);
$blue: rgba(30, 184, 203);
