---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import ContentLayout from "src/layouts/ContentLayout.astro";
import Container from "src/components/Container.astro";
import NewsEntry from "src/components/NewsEntry.astro";

import { getCollection } from "astro:content";

const locale = i18nAdapter.locale;
const news = (await getCollection("news"))
  .filter((n) => n.slug.startsWith(locale))
  .sort((a, b) => (a.data.publishedAt > b.data.publishedAt ? -1 : 1));
---

<ContentLayout>
  <Container>
    <h1>{t("committee.実行委員会とは")}</h1>
    {news.map((newsEntry) => <NewsEntry slug={newsEntry.slug} />)}
  </Container>
</ContentLayout>
