---
import ContentLayout from "src/layouts/ContentLayout.astro";
import Container from "src/components/Container.astro";
import "src/styles/global.scss";
import { COVERAGE_FORM_URL } from "src/consts";
import { i18nAdapter, t } from "src/utils/i18n";
import P from "src/utils/i18n/P.astro";
i18nAdapter.init(Astro);
---

<ContentLayout pageName={(locale) => t("coverage.タイトル", locale)}>
  <Container>
    <h1>{t("coverage.タイトル")}</h1>
    <section>
      <h2>{t("coverage.個人協賛のお願い")}</h2>
      <P key="coverage.協賛文面1" />
      <a href={COVERAGE_FORM_URL} target="_blank" rel=”noopener noreferrer”>{t("coverage.協賛申し込みフォーム")}</a>
      <P key="coverage.協賛文面2" />
    </section>
    <section>
      <h2>{t("coverage.お問い合わせ・取材")}</h2>
      <p>{t("base.筑波大学学園祭実行委員会")} {t("base.渉外局")}</p>
      <address>
        <dl>
          <dt>E-mail</dt><dd><a href="mailto:info@sohosai.com">info@sohosai.com</a></dd>
          <dt>TEL/FAX</dt><dd>029-853-2899</dd>
        </dl>
      </address>
    </section>
  </Container>
</ContentLayout>

<style lang="scss">
  dl {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5em 1em;
    place-content: center start;
    margin: 0.75em 0;

    & dt {
      grid-column: 1/2;
      padding: 0.125em 0.875em;
      color: $font-black;
      text-align: center;
      border: solid 1px $blue;
      border-radius: 0.25em;
    }

    & dd {
      grid-column: 2/3;
    }
  }
</style>
