---
import { getLangFromUrl, useTranslations } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import TopLayout from "../layouts/TopLayout.astro";
import "../styles/global.scss";
---

<TopLayout>
  <h2>お知らせ</h2>
</TopLayout>
