---
import { getLangFromUrl, useTranslations } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import TopLayout from "../layouts/TopLayout.astro";
import "../styles/global.scss";
---

<TopLayout>
  <section>
    <h2>{t("top.雙峰祭とは")}</h2>
    <p>{t("top.雙峰祭説明文")}</p>
  </section>
  <section>
    <h2>{t("top.お知らせ")}</h2>
  </section>
</TopLayout>
