---
import BaseHead from "../components/BaseHead.astro";

const locale = Astro.url.pathname.slice(1, 3);

let title: string;
switch (locale) {
  case "en":
    title = "Sohosai";
    break;
  default:
    title = "雙峰祭";
}
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
