---
import TopLayout from "../layouts/TopLayout.astro";
import "../styles/global.scss";

import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);
---

<TopLayout>
  <section>
    <h2>{t("top.雙峰祭とは")}</h2>
    <p>{t("top.雙峰祭説明文")}</p>
  </section>
  <section>
    <h2>{t("top.お知らせ")}</h2>
  </section>
</TopLayout>
