---
import { getLangFromUrl, useTranslations } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.scss";
---

<BaseLayout>
  <h1>{t("base.雙峰祭")}</h1>
</BaseLayout>

<style lang="scss"></style>
