---
import BaseHead from "../components/BaseHead.astro";
import { getLangFromUrl, useTranslations } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <BaseHead title={t("site.title")} />
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
