---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
