---
import { i18nAdapter, l, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import TopLayout from "src/layouts/TopLayout.astro";
import Container from "src/components/Container.astro";

import { DEFAULT_TIMEZONE } from "src/consts";
import { getCollection } from "astro:content";

const locale = i18nAdapter.locale;

import dayjs from "dayjs";
import "dayjs/locale/en";
import "dayjs/locale/ja";
import DayJSUtc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(LocalizedFormat);
dayjs.extend(DayJSUtc);
dayjs.extend(timezone);
dayjs.tz.setDefault(DEFAULT_TIMEZONE);
dayjs.locale(locale);

const news = (await getCollection("news")).filter((n) => n.slug.startsWith(locale));
const regex = new RegExp(`^${locale}/`);
const newsIds = news.map((entry) => entry.slug.replace(regex, ""));
---

<TopLayout>
  <Container>
    <section>
      <h2>{t("top.雙峰祭とは")}</h2>
      <p>{t("top.雙峰祭説明文")}</p>
    </section>
    <section>
      <h2>{t("top.お知らせ")}</h2>
      <div class="news">
        {
          news.map((entry, index) => (
            <p>
              <time class="date" datetime={dayjs(entry.data.publishedAt).tz().format("YYYY-MM-DD")}>
                {dayjs(entry.data.publishedAt).tz().format("LL")}
              </time>
              <a href={l(`./news/index.html#${newsIds[index]}`)} class="news_link">
                {entry.data.title}
              </a>
            </p>
          ))
        }
      </div>
    </section>
  </Container>
</TopLayout>

<style lang="scss">
  .news {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    justify-content: start;
    gap: 1em 1ic;
    margin: 1em 0;

    p {
      display: contents;
      margin: 1em 0;

      & time {
        grid-column: 1/2;
        font-size: 0.9rem;
      }

      & a {
        grid-column: 2/3;
        line-height: 1.25;
      }
    }
  }
</style>
