---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.scss";

import { i18nAdapter, t } from "../utils/i18n";
i18nAdapter.init(Astro);
---

<BaseLayout>
  <h1>{t("base.雙峰祭")}</h1>
</BaseLayout>

<style lang="scss"></style>
