---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import ContentLayout from "src/layouts/ContentLayout.astro";
import "src/styles/global.scss";
---

<ContentLayout pageName={t("nav.お知らせ")}>
  <h1>{t("nav.お知らせ")}</h1>
</ContentLayout>
