---
const ogpSrc = "/ogp.png";

import { getLangFromUrl, useTranslations } from "../utils/i18n";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export type Props = {
  pageName?: string;
  description?: string;
  ogpImage?: { src: string; alt: string };
  canonicalURL?: URL | null;
  pageType?: "website" | "article";
};
const { pageName, description, ogpImage } = Astro.props;

let title = t("base.サイト名");
if (pageName) {
  title = `${pageName} - ${t("base.サイト名")}`;
}

import "the-new-css-reset";
---

<meta charset="utf-8" />
<link rel="icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<meta name="description" content={t("base.サイト説明文")} />
<meta property="og:title" content={t("base.サイト名")} />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://sohosai.com/" />
<meta property="og:image" content={ogpSrc} />
<meta property="og:site_name" content={t("base.サイト名")} />
<meta property="og:description" content={t("base.サイト説明文")} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="Twitter:site" content="@sohosai" />
<meta name="twitter:title" content={t("base.サイト名")} />
<meta name="twitter:description" content={t("base.サイト説明文")} />
<meta name="twitter:image" content={ogpSrc} />

<title>{title}</title>
