---

---

<div class="container">
  <slot />
</div>

<style lang="scss">
  div.container {
    width: 100%;
    max-width: $content-width;
    margin-inline: auto;
    padding-inline: $side-padding;
  }
</style>
