---

---

<div class="container">
  <slot />
</div>

<style lang="scss">
  div.container {
    width: 100%;
    max-width: $content-width;
    margin-inline: auto;
    padding-inline: min(1.25rem, 4.75vw);
  }
</style>
