---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import { Image } from "astro:assets";

import Container from "src/components/Container.astro";

import instagramLogo from "src/assets/instagram-logo.png";
import xLogo from "src/assets/x-logo.svg";

import { TWITTER_ID, INSTAGRAM_ID } from "src/consts";
const xAccountURL = "https://twitter.com/" + TWITTER_ID.replace("@", "");
const instagramAccountURL = "https://instagram.com/" + INSTAGRAM_ID.replace("@", "");
---

<footer>
  <Container>
    <section>
      <h2>{t("base.筑波大学学園祭実行委員会")}</h2>
      <address>
        <p class="address">
          {t("info.住所")}
        </p>
        <dl>
          <dt>{t("footer.Email")}</dt><dd><a href="mailto:info@sohosai.com">info@sohosai.com</a></dd>
          <dt>{t("footer.TEL/FAX")}</dt><dd>029-853-2899</dd>
        </dl>
      </address>
    </section>

    <section>
      <h3>{t("footer.外部対応時間")}</h3>
      <dl>
        <dt>{t("footer.平日")}</dt><dd>{t("info.平日対応時間")}</dd>
        <dt>{t("footer.休日")}</dt><dd>{t("info.休日対応時間")}</dd>
      </dl>
    </section>

    <section>
      <h3>{t("footer.SNS")}</h3>
      <ul class="sns-logo-wrapper">
        <li>
          <a id="x" href={xAccountURL} target="_blank" rel="noopener noreferrer">
            <Image src={xLogo} alt="X" class="sns-logo" />
          </a>
        </li>
        <li>
          <a id="instagram" href={instagramAccountURL} target="_blank" rel="noopener noreferrer">
            <Image src={instagramLogo} alt="Instagram" class="sns-logo" />
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section>
      <h3>{t("footer.協賛企業")}</h3>
      <a href="https://www.sakura.ad.jp/" target="_blank" id="sakura-internet">
        <Image
          src="https://www.sakura.ad.jp/brand-assets/images/logo-1.png"
          alt={t("footer.さくらインターネット")}
          width="816"
          height="147"
        />
      </a>
      <p class="thankyou">雙峰祭はさくらインターネット様によって支えられています。</p>
    </section>

    <hr />
    <p class="copy"><small>&copy 2023 筑波大学学園祭実行委員会 All rights reserved.</small></p>
  </Container>
</footer>

<style lang="scss">
  footer {
    padding: 2.5rem 0;
    background-color: $background-gray;

    & address {
      padding: 0.5em 0;

      & .address {
        padding: 0.25em 0;
      }
    }
  }

  dl {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5em 1em;
    place-content: center start;
    margin: 0.75em 0;

    & dt {
      grid-column: 1/2;
      padding: 0.125em 0.875em;
      color: $font-white;
      text-align: center;
      background-color: $dark-gray;
      border-radius: 0.25em;
    }

    & dd {
      grid-column: 2/3;
    }
  }

  #sakura-internet {
    display: block;
    width: min(100%, 300px);
    padding: 1.5rem 1.75rem;
    margin-block: 1rem;
    background: white;

    img {
      width: 100%;
      height: auto;
    }
  }

  .thankyou {
    font-size: 0.8em;
  }

  .sns-logo-wrapper {
    display: flex;
    gap: 0.75rem;
    margin-block: 0.75rem;

    & a {
      display: block;

      &:hover {
        opacity: 0.625;
        transition: opacity 0.25s ease;
      }
    }
  }

  #instagram {
    & .sns-logo {
      width: max(2rem, 29px);
      height: max(2rem, 30px);
    }
  }

  #x {
    color: #000;

    & .sns-logo {
      width: max(2rem, 30px);
      height: max(2rem, 30px);
    }
  }

  hr {
    width: 70%;
    height: 1px;
    margin: 2em 0 1em;
    background: $light-gray;
  }

  .copy {
    margin: 0.5em 0;
  }
</style>
