---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import Schedule from "src/components/Schedule.astro";

const videoSrc = "/bg-compressed.mp4";
---

<div id="hero">
  <div class="description">
    <h1>{t("base.雙峰祭")}</h1>
    <h2>{t("top.筑波大学園祭")}</h2>
    <hr />
    <Schedule startDate="2023-11-04" , endDate="2023-11-05" />
  </div>
  <div class="video-filter"></div>
  <video class="background-vid" autoplay muted loop playsinline>
    <source src={videoSrc} type="video/mp4" />
  </video>
</div>

<style lang="scss">
  #hero {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & .video-filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 30rem;
      width: 100%;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNCA0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyZWN0IHdpZHRoPSI0IiBoZWlnaHQ9IjQiIGZpbGw9IiMwMDAwMDAzMyIgLz48cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjMDAwMDAwMzMiLz48L3N2Zz4=");
      background-size: 8px;
      z-index: -10;
    }

    & .description {
      width: fit-content;
      padding: 1em min(3rem, 5%);
      margin: 2em min(3rem, 5%);
      color: $font-white;
      background-color: rgba(0, 0, 0, 0.375);

      & hr {
        display: block;
        background: $font-white;
        height: 2px;
        margin: 0.5em 0 1em;
      }
    }
  }

  video {
    position: fixed;
    z-index: -20;
    top: 0;
    overflow: hidden;
  }
</style>
