---
import { getLangFromUrl, useTranslations } from "../utils/i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import NavigationItems from "./NavigationItems.astro";
import "../styles/navigation.scss";

const logo_src = "/logo-black.svg";
---

<nav id="top-navigation" data-navigation_style="white">
  <a href="/" class="logo" aria-label={t("accessibility.トップページへ")}>
    <img src={logo_src} alt={t("base.雙峰祭")} id="logo-image" />
  </a>
  <NavigationItems navigation_style="white" />
</nav>
