---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

export type Props = {
  navigation_style: string;
};

const { navigation_style } = Astro.props;
---

<ul id="navigation-items" data-navigation_style={navigation_style}>
  <li><a href="./news/">{t("nav.お知らせ")}</a></li>
  <li><a href="./coverage/">{t("nav.協賛・取材")}</a></li>
  <li><a href="./committee/">{t("nav.実委")}</a></li>
  <li><a href="./shinkan/">{t("nav.新歓")}</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;

    & li {
      margin: 0 0.25em;

      & a {
        position: relative;
        padding: 1em 0.5em;
        font-size: 1rem;
        text-decoration: none;
      }
    }
  }

  ul[data-navigation_style="transparent"] {
    & li {
      & a {
        color: $font-white;
      }

      & a::before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 1.5rem;
        background: linear-gradient($blue, $orange);
        filter: blur(1rem);
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      & a:hover::before {
        opacity: 50%;
      }
    }
  }

  ul[data-navigation_style="white"] {
    & li {
      & a {
        color: $font-black;
        transition: opacity 0.5s ease;
      }

      & a:hover {
        opacity: 50%;
      }
    }
  }
</style>
