---
import { i18nAdapter } from "src/utils/i18n";
import { DEFAULT_TIMEZONE } from "src/consts";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

const locale = i18nAdapter.locale;

import dayjs from "dayjs";
import "dayjs/locale/en";
import "dayjs/locale/ja";
import timezone from "dayjs/plugin/timezone";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(LocalizedFormat);
dayjs.extend(timezone);
dayjs.tz.setDefault(DEFAULT_TIMEZONE);
dayjs.locale(locale);

type ValidSlugs = CollectionEntry<"news">["slug"];

export type Props = {
  slug: ValidSlugs;
};
const { slug } = Astro.props;

const entry = await getEntry("news", slug);
const { Content } = await entry.render();

const supportedLocales = i18nAdapter.locales.join("|");
const regex = new RegExp(`^(${supportedLocales})/`);
const newsId = slug.replace(regex, "");
---

<section id={newsId}>
  <h2>{entry?.data.title}</h2>
  <span class="published-at">{dayjs(entry?.data.publishedAt).tz().format("LLL")}</span>
  <div class="markdown-body">
    <Content />
  </div>
</section>

<style lang="scss">
  .published-at {
    display: block;
    text-align: right;
    font-size: 0.8rem;
  }
  .markdown-body :global(p) {
    margin: 1em 0;
  }
</style>
