---
import { i18nAdapter, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import type { YYYYMMDD } from "src/types/date";

import dayjs from "dayjs";
import isSameOrBefore from "dayjs/plugin/isSameOrBefore";
import "dayjs/locale/en";
import "dayjs/locale/ja";
dayjs.locale(i18nAdapter.locale);
dayjs.extend(isSameOrBefore);

const isCultureDay = (day: dayjs.Dayjs): boolean => {
  const Sunday = 0 as const;
  const Monday = 1 as const;
  if (day.month() + 1 == 11 && day.date() == 3 && day.day() != Sunday) {
    // 11月3日かつ、日曜日でなければ祝日
    return true;
  }

  if (day.month() + 1 == 11 && day.date() == 4 && day.day() == Monday) {
    // 11月4日かつ、月曜日なら祝日(振替休日)
    return true;
  }

  // それ以外の場合は平日
  return false;
};

interface Props {
  startDate: YYYYMMDD;
  endDate: YYYYMMDD;
}

const { startDate, endDate } = Astro.props;

const schedule = new Array<dayjs.Dayjs>();

for (let i = dayjs(startDate); i.isSameOrBefore(endDate); i = i.add(1, "d")) {
  schedule.push(i);
}
---

<p class="schedule">
  <span class="year">{dayjs(startDate).year()}.</span>
  <br />
  {
    schedule.map((item, index) => (
      <time datetime={item.format("YYYY-MM-DD")}>
        <span class="date">
          {index === 0
            ? item.format("M/D")
            : item.month() === schedule[index - 1].month()
            ? item.format("D")
            : item.format("M/D")}
        </span>
        <span class="day-of-week">{item.format("ddd") + (isCultureDay(item) ? t("top.祝日") : "")}</span>
      </time>
    ))
  }
</p>

<style lang="scss">
  .schedule {
    margin: 0.5em 0;

    time {
      display: inline-flex;
      align-items: flex-end;
    }

    .year {
      font-size: 1.2rem;
    }

    .date {
      font-size: 2.25rem;
      line-height: 1;
    }

    .day-of-week {
      display: block;
      padding: 3px 4px;
      margin: 0.2em 0.75em;
      font-size: 1em;
      line-height: 1;
      border: 1px solid $font-white;
      border-radius: 4px;
    }
  }
</style>
