---
import { i18nAdapter } from "src/utils/i18n";
i18nAdapter.init(Astro);
const lang = i18nAdapter.locale;

import BaseHead, { type Props as HeadProps } from "src/components/BaseHead.astro";

export type Props = HeadProps;
const { ...head } = Astro.props;

import "src/styles/reset.scss";
import "src/styles/global.scss";

import "@fontsource/noto-sans-jp";
import "@fontsource/zen-maru-gothic/400.css";
import "@fontsource/zen-maru-gothic/300.css";
---

<!DOCTYPE html>
<html {lang}>
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <slot />
  </body>
</html>
