---
import { i18nAdapter } from "src/utils/i18n";
i18nAdapter.init(Astro);
const lang = i18nAdapter.locale;

import BaseHead, { type Props as HeadProps } from "src/components/BaseHead.astro";

export type Props = HeadProps;
const { ...head } = Astro.props;

import "src/styles/reset.scss";
import "src/styles/global.scss";
import "src/styles/heading.scss";

import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

import { SUBSET_TEXT } from "src/consts";
---

<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" {lang}>
  <head>
    <GoogleFontsOptimizer
      url={`https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap&text=${SUBSET_TEXT}`}
    />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap" />
    <BaseHead {...head} />
  </head>
  <body>
    <slot />
  </body>
</html>
