---
import type { Props as HeadProps } from "src/components/BaseHead.astro";
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export type Props = HeadProps;
const { ...head } = Astro.props;
---

<BaseLayout {...head}>
  <Header />

  <main id="content">
    <slot />
  </main>
  <Footer />
</BaseLayout>

<style lang="scss">
  main {
    margin-block-start: $navigation-height;
  }
</style>
